<% content_for(:title, 'Edit Account') %>
<%= render "shared_views/header" %>
<div class="col-sm-11 col-lg-4  container shadow mt-5 pt-4 pl-3 pb-4 profile">
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="d-flex justify-content-between">
      <div class="d-flex mt-3 ml-3">
        <%= link_to :back do %>
          <i class="fas fa-arrow-left mr-3" style="font-size: 1.4rem"></i>
        <% end %>
        <h4 class="ml-3">Edit Account</h4>
      </div>
      <div class="actions">
        <%= f.submit "Save", class: "btn btn-outline-primary" %>
      </div>
    </div>
    <hr class="solid">

    <div class="field py-2">
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "bg-light" %>
    </div>

    <div class="field py-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field py-2">
      <%= f.password_field :password, autocomplete: "new-password", help: "leave blank if you don't want to change it" %>
    </div>

    <div class="field py-2">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field py-2">
      <%= f.password_field :current_password, autocomplete: "current-password", help: "we need your current password to confirm your changes" %>
    </div>

    <div class="field py-2">
      <%= f.file_field :avatar, class: "bg-light" %>
    </div>
  <% end %>
</div>