<div class="p-1 text-center bg-light">
  <% if current_user.id == @user.id %>

    <% if current_user.avatar? %>
      <div class="mb-3">
        <%= image_tag(current_user.avatar.url, :class => "rounded-circle mr-2 profile-pic-show", size: "150x150", alt: "Profile pic") %>
      </div>
    <% end %>
    <h4 class="mb-3"><strong><%= current_user.username %></strong></h4>
    <a><%= link_to "account", "/account", class: "button is-primary" %></a>
  <% else %>
    <% if @user.avatar? %>
      <div class="mb-3">
        <%= image_tag(@user.avatar.url, :class => "rounded-circle mr-2 profile-pic-show", size: "150x150", alt: "Profile pic") %>
      </div>
    <% end %>
    <h4 class="mb-3"><strong><%= @user.username %></strong></h4>

  <% end %>
</div>