<%= render 'shared_views/header_main' %>

<%= render "user_banner" %>

<div class="px-5 py-5">
  <%= render"my_courses" %>
</div>

<div class="ps-5 py-5">
  <%= render "my_enrolls" %>
</div>

<%= render "shared_views/footer" %>