<!--<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:sticky; top:0; z-index: 1000">-->
<%#= link_to "Project Minerva", root_path, class:"text-decoration-none text-white playfair m-auto" %>
<!--</nav>-->

<!--<nav class="navbar navbar-dark bg-dark">-->
<!--  <a>  <%#= link_to "Project Minerva", root_path %></a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->

<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
<!--  </div>-->


<!--  <div class="btn btn-primary inline">-->
<!--    <%#= link_to 'New Course', new_course_path, :class => "btn" %> |-->
    <%# if user_signed_in? %>
<!--      <p class="control">-->
        <%#= link_to current_user.username, edit_user_registration_path, class: "button is-info" %>
<!--      </p>-->
<!--      <p>-->
        <%#= link_to "Sign out", destroy_user_session_path, :method => :delete , class: "button is-info"%>
        <%#= link_to "Logout", destroy_user_session_path, method: :delete, class:"button is-info" %>
<!--      </p>-->
    <%# else %>
<!--      <p class="control">-->
        <%#= link_to 'Sign In', new_user_session_path, class: "button is-info" %>
<!--      </p>-->
<!--      <p class="control">-->
        <%#= link_to 'Sign Up', new_user_registration_path, class: "button is-info" %>
<!--      </p>-->
    <%# end %>
<!--  </div>-->
<!--</nav>-->


<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="20"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: 2px;"
          />
      </a>

      <!-- Search form -->

    </div>
    <!-- Left elements -->

    <!-- Center elements -->
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <form class="input-group w-auto my-auto d-none d-sm-flex">
        <input
          autocomplete="off"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          style="min-width: 125px;"
          />
        <span class="input-group-text border-0 d-none d-lg-flex"
        ><i class="fas fa-search"></i
        ></span>
      </form>
    </ul>
    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1">
        <%= link_to 'New Course', new_course_path, :class => "btn btn-primary" %>
      </li>

      <% if user_signed_in? %>
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <%= image_tag(current_user.avatar.url, :class => "rounded-circle mr-2", size: "40x40", alt: "Profile pic") %>
          <strong class="d-none d-sm-block ms-1"><%=current_user.username %></strong>
        </a>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item"></a>
          </li>
          <li>
            <a class="dropdown-item">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" ><%= link_to "Sign out", destroy_user_session_path, :method => :delete  %></a>
          </li>
        </ul>
      <%else %>
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-user"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">Action</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
      <%end %>
    </ul>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->


