<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= video.description %>
  </p>

  <p>
    <strong>Thumbnail:</strong>
    <%= image_tag @video.thumbnail.url if @video.thumbnail?%>
  </p>

  <p>
    <strong>Videofile:</strong>
    <%= video_tag @video.videofile.url , poster: @video.thumbnail.url, controls:  true%>
  </p>

</div>
