<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= video.description %>
  </p>

  <p>
    <strong>Thumbnail:</strong>
    <%= video.thumbnail %>
  </p>

  <p>
    <strong>Videofile:</strong>
    <%= video.videofile %>
  </p>

</div>
