<div class="card">
  <div class="card-header">
    <%=course.title %>
    <%=course.enrolls_count %>
    <%= course.category.category %>
  </div>
  <div class="card-body">
    <div class="row">
    <div id="enrolled-users" class="admin-card-content">
      <% course.enrolls.each do |enroll| %>
        <div class="d-flex">
          <%=enroll.get_username %>
          <%=button_to "Remove enroll", enroll, method: :delete %>
          <%=link_to "View enroll", enroll_url(enroll), class: "btn btn-primary-outline"%>
        </div>
    <% end %>
    </div>

    <div class="reviews" class="admin-card-content">
      <div class="row d-flex">
        <%course.reviews.each do |review| %>
          <%=review.get_user %>
          <%=review.rating %>
          <%=button_to "Remove review", review, method: :delete %>
          <%=link_to "View review", reviews_path(review) , class: "btn btn-primary-outline"%>
        <% end %>
      </div>

    </div>
  </div>
  </div>
</div>