<div class="card py-5">
  <div class="card-header">
    <div class="d-flex">
      <h6> <%=category.category %></h6>
      <p> <%="Count: #{category.course_count}" %></p>
    </div>
  </div>

  <div class="card-body">
    <div class="admin-card-overflow">
      <h6>Courses</h6>
      <% category.get_courses.each do |course|%>
        <div class="border-top border-bottom ">
          <div class="d-flex">
            <div class="d-flex justify-content-start">
              <h6 class="lead"><%= course.title %></h6>
            </div>
            <div class="d-flex justify-content-end">
              <%=button_to "Open course", course_path(course) %>
              <%=button_to "Edit course", edit_course_path(course) %>
              <%=button_to "Delete course", course, method: :delete %>
            </div>
          </div>
    </div>

    </div>

    <%end %>

  </div>
  <div class="card-footer d-flex">
    <%=button_to "Open category", categories_path(category) %>
    <%=button_to "Edit category", edit_category_path(category) %>
    <%=button_to "Delete category", category, method: :delete %>
  </div>
</div>