
<%= bootstrap_form_for(@section) do |f| %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.rich_text_area :body %>
  </div>

  <%= link_to_add_association "Add Lesson", f, :lessons, partial: 'lesson_fields' %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
