<div id="<%= dom_id section %>">
  <p>
    <strong>Title:</strong>
    <%= section.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= section.body %>
  </p>

  <p>
    <strong>Int:</strong>
    <%= section.int %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= section.section_id %>
  </p>

</div>
