<!--<div id="<%#= dom_id section %>">-->
<!--  <p>-->
<!--    <strong>Title:</strong>-->
    <%#= section.title %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Body:</strong>-->
    <%#= section.body %>
<!--  </p>-->
<!--  <div>-->
    <%# @lessons.each do |lesson| %>
<!--      <li><%#= link_to lesson.title, lesson_path(lesson) %></li>-->
    <%# end %>
<!--  </div>-->

<!--</div>-->


<header>
  <div class="d-flex justify-content-between" style="background-color: 	#C0C0C0">
    <h1><%= section.title %></h1>
    <%= link_to "Back to Course", course_url(section.course_id), class: "btn btn-outline-secondary" %>
  </div>
</header>


<div>
  <p><%=section.body %></p>
</div>
<div class="container">

    <% @lessons.each_with_index do |lesson, index| %>
    <div class="row">
      <div class="col-sm-6 mx-auto">
        <%=index + 1%>. <%= link_to lesson.title, lesson_path(lesson) %>
      </div>
    </div>
    <% end %>


</div>
