<%= render 'shared_views/header_main' %>

<!--<h1>Home</h1>-->

<div id="enrolls">
  <h2>Enrolls</h2>
  <% @enrolls.each do |enroll| %>
    <%= render partial: "enrolls/enroll_card", locals: {enroll: enroll} %>

  <% end %>
</div>


<div id="courses">
  <h2>Courses</h2>
  <% @courses.each do |course| %>
    <%= render partial: "courses/course_card", locals: {course: course} %>
  <% end %>
</div>

<div id="categories">
  <h2>Category</h2>
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>
<%= render "shared_views/footer" %>
