<header>
  <div class="d-flex justify-content-between" style="background-color: 	#C0C0C0">
      <h1><%= lesson.title %></h1>
      <%= link_to "Back to Section", section_url(lesson.section_id), class: "btn btn-outline-secondary" %>
  </div>
</header>


<div class="container">
  <div>
    <%=lesson.body %>
  </div>
  <% if @videos.size >= 1 %>
  <div id="video lessons">
    <h3>Videos</h3>
  <% @videos.each do |video| %>
      <div id="video">
        <%= %>
    <%= video_tag video.videofile.url if video.videofile? %>
<!--    <li><%#= link_to video.title, video_path(video) %></li>-->
      </div>
  <% end %>
  </div>
    <%end %>
</div>


