  <div class="card-body">
    <div class="row">
      <div class="col-xl-10">
        <div>
          <h1 class="display-6">About Course</h1>
        </div>
        <div class="mt-2 black-link">
          <a href= "<%=category_url(@category) %>">
            <p class="lead"><%=@category.category%></p>
          </a>
        </div>
        <div class="row">
          <h4>Instructor</h4>
        </div>
        <div class="row">
          <div class="d-flex">
            <% if @instructor.avatar.url  %>
              <%= image_tag(@instructor.avatar.url, :class => "rounded-circle mr-2 profile-pic-show", size: "75x75", alt: "Profile pic") %>
            <% end %>
            <div class="ms-3 align-self-center black-link">
              <h5>
                <%=link_to "#{@instructor.username}" ,  user_path(@instructor)%>
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <%= render "course_user_controls"%>
      </div>
    </div>



  </div>
