<div class="col-md-2 col-lg-3 pb-3 ps-3">
  <div class="card card-custom bg-white border-white border-0" style="height: 50px">
    <div class="card-custom-img" style="background: url('<%= image_url course.get_banner %>');"></div>
    <div class="card-body" style="overflow-y: auto">
      <h1 class="display-6" ><%= course.title %></h1>
      <h6 class="card-text "><%= course.category.category %></h6>
      <p class="card-text"><%= course.description %></p>
    </div>
    <div class="card-footer" style="background: inherit; border-color: inherit;">
      <%= link_to "Open Course", course_url(course), class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>

