<div id="<%= dom_id course %>">
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= course.members %>
  </p>

  <p>
    <strong>Average:</strong>
    <%= course.average %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= course.rating %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= course.id %>
  </p>

</div>
