
<div class="d-flex justify-content-center flex-lg-row flex-md-row flex-column mt-5"
<%= bootstrap_form_for(@course, class: "form-card") do |f|  %>
  <div class="form-inputs">

    <div class="form-actions">
      <%= f.button :submit ,class: "btn btn-success" %>
    </div>

    <div class="form-row">
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
    <div class="form-row">
      <%= f.select :draft, options_for_select([true, false])%>
    </div>
    <div class="form-row">
      <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "category") %>
    </div>
    <div class="form-row">
      <%= f.text_area :title %>
    </div>
    <div class="form-row">
      <%= f.rich_text_area :description %>
    </div>


    <%#= f.input :members %>
    <%#= f.input :average %>
    <%#= f.input :rating %>
    <%#= f.input :course_id %>
    <div>
      <div id="sections">
        <%= f.fields_for :sections do |section| %>
          <%= render 'section_fields', f: section %>
        <% end %>

      </div>
    </div>


  <div class="links">
    <%= link_to_add_association "Add Section", f, :sections, class: "btn btn-outline-primary" %>
  </div>


  </div>
<% end %>

</div>



