
<%= bootstrap_form_for(@course) do |f| %>
  <div class="form-inputs">
    <%= f.text_area :title %>
    <%= f.rich_text_area :description %>
    <%#= f.input :members %>
    <%#= f.input :average %>
    <%#= f.input :rating %>
    <%#= f.input :course_id %>
  </div>

  <%= link_to_add_association "Add Section", f, :sections, partial: 'section_fields' %>




  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
