<div class="nested-fields">
    <h2 class="display-6">Lesson</h2>
  <div class="text-end pt-3">
    <%= link_to_remove_association "Delete Lesson", f, class: "btn btn-outline-danger" %>

  </div>

  <div class="field lead">
    <%= f.text_area :title %>
  </div>
  <div class="field lead">
    <label for="lesson_body">Body <p><small>(Must be more than 400 characters)</small></p></label>

    <%= f.text_area_without_bootstrap :body , class: "tinymce"%>
    <%= tinymce %>

  </div>


  <div id="videos">
    <%= f.fields_for :videos do |video| %>
      <%= render 'video_fields', f: video %>
    <% end %>
    <div class="links text-end">
      <%= link_to_add_association 'Add video', f, :videos, class: "btn btn-outline-primary" %>
    </div>
  </div>

</div>





