<div class="nested-fields">
  <div class="col-sm-8">
    <h2 class="d-inline-block">Lesson</h2>
    <%= link_to_remove_association "Delete Lesson", f, class: "btn btn-outline-danger" %>
  </div>
  <%= f.text_area :title %>
  <%= f.rich_text_area :body %>

  <div id="videos">
    <%= f.fields_for :videos do |video| %>
      <%= render 'video_fields', f: video %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add video', f, :videos, class: "btn btn-outline-primary" %>
    </div>
  </div>

</div>





