

<div class="nested-fields">
  <div class="d-flex">
    <div><h2>Section</h2></div>
    <div class="align-items-end"><%= link_to_remove_association "Delete Section", f, class: "btn btn-outline-danger "  %></div>
  </div>


  <div class="field">
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.rich_text_area :body %>
  </div>

  <div>
    <div id="lessons">
      <%= f.fields_for :lessons do |lesson| %>
        <%= render 'lesson_fields', f: lesson %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add Lesson', f, :lessons, class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>

</div>