

<div class="nested-fields">
  <div class="col-sm-8">
    <h2 class="d-inline-block">Video</h2>
    <%= link_to_remove_association "Delete Video", f ,class: "btn btn-outline-danger float-right"%>
  </div>



  <%= f.text_area :title %>
  <%= f.text_area :description %>
  <%= f.file_field :thumbnail %>
  <%= f.file_field :videofile %>

</div>