<!--<p style="color: green"><%#= notice %></p>-->

<%= render "shared_views/header_main" %>



<%= render @course %>

<div id="sections" class="text-center mb-5" >


  <div class="mt-4 mb-4">
    <% if user_signed_in? %>
      <td><%= button_to 'Enroll in Course' ,{:controller => 'enrolls', :enroll => {:action => 'create', :user_id => current_user.id, :course_id => @course.id, :completed => false}}, {:method => :post} %></td>
    <%else %>
      <%= link_to 'Sign In To Enroll', new_user_session_path, class: "btn btn-primary" %>
    <%end %>
    <h1>Sections</h1>


  </div>
  <% @sections.each do |section| %>
  <%= render partial: "sections/section_card" , locals: {section: section}  %>
  <% end %>
</div>

<% if user_signed_in? %>
<% if @course.user_id == current_user.id %>
<div>

  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>

  <%= button_to "Destroy this course", @course, method: :delete %>

</div>
<% end %>
  <%end %>
<%=render "shared_views/footer" %>

