<p style="color: green"><%= notice %></p>

<%= render "shared_views/header_main" %>



<%= render @course %>
<div>
  <% @sections.each do |section| %>
  <li><%= link_to section.title, section_path(section) %></li>
  <% end %>
</div>

<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>

  <%= button_to "Destroy this course", @course, method: :delete %>
</div>
<%=render "shared_views/footer" %>

