<%= render "shared_views/header_main" %>

  <%= render @course %>

  <div class="row ps-3 py-3 card-grey">
    <%= render "courses/partials/course_about" %>
  </div>

<%if @course.draft? and @course.instructor?(current_user) %>
  <%= render "course_instructor_controls" %>
<%end %>

  <div id="sections" class="text-center mb-5">
    <h1 class="display-3">Sections</h1>
    <% @sections.each do |section| %>
      <%= render partial: "sections/section_card" , locals: {section: section}  %>
    <% end %>
  </div>

<%unless @course.draft? %>
<%= render partial:"reviews/reviews_course_show" %>
<%end %>


<%=render "shared_views/footer" %>

