<%= bootstrap_form_for(@review) do |f| %>
  <div class="form-inputs">
    <div class="field">
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
    <div class="field">
      <%= f.hidden_field :course_id, value: course.id %>
    </div>
    <div class="field">
      <%= f.select :rating, [["1 star", 1], ["2 star", 2], ["3 star",3], ["4 star",4], ["5 star",5]], { label: "How would you rate this course?:", wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "selectpicker" } %>

    </div>
    <div class="field">
      <%= f.text_area :comment%>
    </div>
    <div class="form-actions">
      <%= f.button :submit ,class: "btn btn-outline-primary" %>
    </div>
  </div>
<%end %>

