<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMinerva</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.6/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.6/dist/js/splide.min.js"></script>
    <script src="path-to-the-script/splide-extension-intersection.min.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag  %>

  </head>
  <body class=" d-flex flex-column min-vh-100" >
  <%= tinymce_assets %>
  <script type="text/javascript" src="/assets/tinymce.js"></script>

  <% if flash[:notice] %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <%=flash[:notice] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>
<% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%=flash[:alert] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>
<%= yield %>

  </body>

  <script>

      new Splide( '.splide', {
          type       : 'loop',
          autoWidth: true,
          autoHeight: true,
      } ).mount();

  </script>
</html>

